.login-keluarga {
    background-image: url('../assets/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-pengurus {
    background-image: url('../assets/pengurus-login.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.app-container {
    min-height: 100vh;
}

.outline-grey {
    border-color: $lightGrey !important;
}