.login-keluarga {
    background-image: url('../assets/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-admin {
    background-image: url('../assets/admin-login.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.app-container {
    min-height: 100vh;
}