.chat-container {
    height: 500px;
    overflow-y: scroll;
}
.chat-balloon {
    border-radius: 5px;
    padding: 5px;
    position: relative;
    width: fit-content;
}
.chat-balloon-left {
    background-color: $lightGrey;
}
.chat-balloon-right {
    position: absolute;
    right: 21px;
    color: $white;
    background-color: #2196F3;
}